USE [master]
GO
/****** Object:  Database [RIT_Automation]    Script Date: 27.09.2023 13:29:56 ******/
CREATE DATABASE [RIT_Automation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RIT_Automation', FILENAME = N'D:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\RIT_Automation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RIT_Automation_log', FILENAME = N'D:\SQLServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\RIT_Automation_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RIT_Automation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RIT_Automation]
GO
/****** Object:  Table [dbo].[TransportUnitsCoordinates]    Script Date: 27.09.2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportUnitsCoordinates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[longtitude] [float] NOT NULL,
	[latitude] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTransportUnits]    Script Date: 27.09.2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTransportUnits]
AS
SELECT "ID", "name", "longtitude", "latitude" FROM TransportUnitsCoordinates;
GO
/****** Object:  StoredProcedure [dbo].[SaveTransportCoordinates]    Script Date: 27.09.2023 13:29:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveTransportCoordinates]
@id int,
@latitude float,
@longtitude float
AS
BEGIN
	UPDATE TransportUnitsCoordinates SET "latitude" = @latitude, "longtitude" = @longtitude WHERE "id" = @id;
END
GO
USE [master]
GO
